.ne-main{
    background: #fcfafa;
}
.info-title{
    text-align: center;
}
.info-sub-title{
    text-align: center;
    padding: 15px;
}
.contact-info-wrap{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 15px 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.contact-info-wrap h3{
    color: #5996e6;
}
.contact-info-wrap-b{
    padding: 15px 0;
}
.contact-info-wrap-b-ac{
    width: 100%;
}
.full-widh{
    width: 100%;
}
.time-line-wrap{
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    -webkit-overflow-scrolling:touch;
    position: absolute;
    top: 50%;
  }
.time-line-block{
  min-height: 50px;
  width: 240px;
  border: 1px solid;
  display: inline-block;
  position: relative;
}
.time-line-tip1{
    position: absolute;
    top: -100px;
    z-index: 1000;
}
.time-line-tip1-content{
    max-width: 400px;
}
.time-line-tip1-content::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 77px;
    border: 1px solid;
    left: 50%;
    top: 100%;
}
.time-line-tip2-content::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 77px;
    border: 1px solid;
    left: 50%;
    bottom: 100%;
}
.time-line-tip2{
    position: absolute;
    bottom: -100px;
    z-index: 1000;
}